*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    font-family: "Quicksand", sans-serif;
    font-size: 1.6em;
    color: #444;
}


/** Header **/

header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    min-height: 8rem;
    background-color: #273990;
}

header a {
    height: 100%;
    margin-left: 1.6rem;
}

header img {
    display: block;
    height: 5rem;
}

header svg {
    flex-shrink: 0;
    width: 16rem;
    height: 8rem;
    margin-left: auto;
}


/** Content **/

main {
    flex: 1 0 0;
    padding: 6rem 2rem;
    text-align: center;
}

main h1 {
    font-size: 2.4em;
    font-weight: 700;
}

main h2 {
    margin: 1em 0;
}

main h3 {
    font-weight: 400;
    text-transform: uppercase;
}

main .powered-by {
    margin-top: 4rem;
}

main svg {
    width: 30rem;
    height: 4rem;
    margin: 4rem 0;
}


/** Footer **/

footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
    background-color: #2972b9;
}

footer img {
    height: 2.8rem;
}


/** SVG Elements **/

path {
    stroke-width: 3;
    stroke-linecap: round;
}

#hc1 {
    fill: #fabf15;
    transform-origin: 6rem 6rem;
    animation: scale 500ms -250ms ease infinite alternate;
}

#hc2 {
    fill: none;
    stroke: #ef397a;
    stroke-width: 2;
    transform-origin: 8rem 2rem;
    animation: h-translate 1s ease infinite alternate;
}

#hg1 {
    stroke: #fff;
    transform-origin: 9rem 3rem;
    animation: rotate 1s linear infinite reverse;
}

#hp1 {
    fill: #ef397a;
    transform-origin: 13rem 4rem;
    animation: rotate 2s linear infinite;
}

#ac1 {
    fill: #478ecb;
    transform-origin: 15rem 2rem;
    animation: scale 500ms ease infinite alternate;
}

#ag1 {
    stroke: #0955a0;
    transform-origin: 16rem 1rem;
    animation: rotate 500ms linear infinite;
}

#ag2 {
    stroke: #b0e0dc;
    transform-origin: 23rem 2rem;
    animation: rotate 1s linear infinite alternate;
}

#ag3 {
    transform-origin: 7rem 2rem;
    animation: rotate 1s linear infinite;
}

#ac2 {
    fill: #ef397a;
}

#ac3 {
    fill: #478ecb;
}


/** Animation Definitions **/

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes scale {
    from {
        transform: scale(0.8);
    }

    to {
        transform: scale(1.5);
    }
}

@keyframes rotate-scale {
    from {
        transform: rotate(0deg) scale(0.8);
    }

    to {
        transform: rotate(360deg) scale(1.5);
    }
}

@keyframes h-translate {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-20%);
    }
}
