*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 1.6em;
    color: #333;
}

.section {
    min-height: 100vh;
    padding: 5vh 5vw;
}


/** Splash Section **/

.splash-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 60rem;
}

.hosts-bubble {
    width: 50%;
    margin-bottom: -2rem;
}

.devfest-splash {
    width: 100%;
}

.powered-by-google {
    align-self: flex-end;
    width: 30%;
    margin-top: -1.6rem;
    margin-right: 2rem;
}

.splash-section hr {
    width: 60%;
    border: none;
    border-bottom: 2px solid #eee;
    margin: 3rem 0;
}

.event-details {
    display: flex;
    flex-direction: column;
}

.event-details .detail {
    padding-left: 2.8rem;
    font-weight: 600;
    line-height: 2.8rem;
    background: center left no-repeat;
    background-size: auto 80%;
    opacity: 0.75;
}

.event-details .detail.time {
    background-image: url("images/calendar.png");
}

.event-details .detail.venue {
    background-image: url("images/location.png");
}
