<section id="about" class="page-section">
    <div class="wrapper">
        <h1 class="section-title">About The Event</h1>

        <div class="inner-wrapper">
            <p>
                Google Developers Group (GDG) Cebu is a non-profit group of amateurs and professionals
                (technology users, specialists, and developers) who are independent from Google but are
                enthusiasts and daily users of Google technologies. Members meet and socialize on a
                regular basis.
            </p>

            <p>
                GDG DevFest Cebu 2017 will be held on <strong>November 15, 2017</strong> at
                <strong>J Center Mall.</strong>
            </p>
        </div>

        <img class="venue-map" src="{{ map }}" alt="Map to event venue">
    </div>
</section>
